<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.molpagemb.board.repository.boardMapper">
	<resultMap id="com.example.molpagemb.board.dto.BoardDTO" type="boardResultMap">
		<result column="BOARD_ID" property="boardId"/>
		<result column="BOARD_NAME" property="boardName"/>
		<result column="BOARD_CREATED_AT" property="boardCreatedAt"/>
		
	</resultMap>
	<sql id="boardSQL">
		SELECT BOARD_ID, 
				BOARD_NAME,
				BOARD_CREATED_AT 
		FROM BOARDS
	</sql>
	<select id="findAllBoards">
		<include refid="boardSQL"/>
	</select>
	<select id="findBoardByBoardId">
		<include refid="boardSQL"/>
		WHERE BOARD_ID LIKE #{boardId}
	</select>
</mapper>